html{
    box-sizing: border-box;
}
*,*::before, *:after{
    box-sizing: inherit;
}

.nombre-sitio{
    font-size: 2em;
    color: #191c32;
    margin-top: 100px ;
    padding: 100px;
}

h1 span{
    color: #037bc0;
}
/*.enlace {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #037bc0;
}
.color-rojo{
    color: red;
}*/
/** Sobre nosotros**/
.sobre-nosotros{
    background-color: red;
    width: 200px;
    padding: 25px;
    box-sizing: border-box;
}

.sobre-empresa{
    background-color: blue;
    width: 500px;
    padding: 100px;
    box-sizing: border-box;
}
/**Display inline e inline-bloc y block**/

/*a{
    background-color: darkblue;
    color: #fff;
    width: 300px;
    height: 200px;
    display: inline-block;

}*/