html{
    box-sizing: border-box;
}
*,*::before, *:after{
    box-sizing: inherit;

}
/*Globales*/
a{
    text-decoration: none;
    color: #000000;
    margin: 25px;
}


img{
    max-width: 100%;
}
.contenedor{
    max-width: 1200px;
    margin: 0 auto ;

}
/*Header y navegacion*/
.nombre-sitio{
    font-size:2em;
    color: #191c32;
    margin-top: 10px ;
    padding: 10px;
    text-align: center;
}
.nombre-sitio span{
    color: #037bc0;
}

.contenedor-navegacion{
    border: 1px solid #e1e1e1;
}

.nav-principal{
    padding: 10px 0; 
    display: flex;
    justify-content: space-between;
    
}
.hero{
    background-image:url(../img/principal.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
 
    height: 500px;
    border: 2px solid #e1e1e1;
}

/**Categorias*/

.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}